
@font-face{
  font-family: 'Open Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}

header {
  height: 540px;
  width: 960px;
  border: 1px black solid;
  margin: 10px;
  color: white;
}
.title{
  padding-left: 20px;
  font-size: 3em;
  font-family: Arial, sans-serif;
}
.slogan{
  padding-left: 20px;
  font-size: 1.5em;
  font-family: Arial, sans-serif;
}

body {
  background-color: #B4AF91;
  color: #FFFFCC;
  font-family: Open Sans;
}


/*stuff for the activity page*/
.logContainer {
  border: 1px black solid;
  background-color: #787746;
  width: 33%;
  display: inline-block;
  text-align: center;
}

.summaryContainer {
  vertical-align: top;
  border: 1px black solid;
  background-color: #787746;
  text-align: center;
  width: 99.3%;
  clear: both;
}


table{
  border-spacing: .1em;
}

h3 {
  background-color: #32331D;
  color: #C03000;
}
h2{
  color: #32331D;
}

.addForm {
  border: 1px black solid;
  background-color: #32331D;
  clear:both;
}

.addForm p {
  display: inline-block;
  margin: 5px;
}
