
@font-face{
  font-family: 'Open Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}


body {
  background-color: #B4AF91;
  color: #FFFFCC;
  font-family: Open Sans;
}


/*stuff for the activity page*/
.logContainer {
  border: 1px black solid;
  background-color: #787746;
  width: 33%;
  display: inline-block;
  text-align: center;
}

.summaryContainer {
  border: 1px black solid;
  background-color: #787746;
  text-align: center;
  width: 100%;
  clear: both;
}

table{
  border-spacing: 5px;
}

h3 {
  background-color: #32331D;
  color: #C03000;
}
h2{
  color: #32331D;
}

.addForm {
  border: 1px black solid;
  background-color: #32331D;
  clear:both;
}

.addForm p {
  display: inline-block;
  margin: 5px;
}
